/* page styling */
body {
    background: linear-gradient(90deg,#7bed9f, #3498db);
  }
  
  section {
    max-width: 900px;
    margin: 0 auto;
  }
  
  section h1 {
    font-size: 46px;
    text-align: center;
  }
  
  section p {
    font-size: 26px;
    text-align: center;
  }
  
  /* hamburger */
  .checkbox {
    display: none;
  }
  
  .ham-button {
    position: relative;
    background-color: #1e2530;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 5vh; 
    right: 5vw; 
    z-index: 2000;
    box-shadow: 0 1rem 3rem black;
    text-align: center; 
    cursor: pointer;
  }
  
  .ham-background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 5.5vh; 
    right: 5.5vw; 
    background-image: radial-gradient(black, #f9423a);
    z-index: 1000;
  
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  .ham-nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -60vw;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
  }
  
  .ham-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
  
  .item {
    margin: 1rem;
    font-size: 36px;
  }
  
  .link:link,
  .link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      white 50%
    );
    background-size: 220%;
    transition: all 0.4s;
  }
  
  .link:hover,
  .link:active {
    color: #ff0037;
    cursor: pointer;
  }
  
  /* functionality */
  .checkbox:checked ~ .ham-background {
    transform: scale(80);
  }
  .checkbox:checked ~ .ham-nav {
    opacity: 1;
    width: 100%;
    right: 0;
  }
  
  /*  */
  /* styling hamb ICON */
  .ham-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .ham-icon,
  .ham-icon::before,
  .ham-icon::after {
    width: 3rem;
    height: 2px;
    background-color: gray;
    display: inline-block;
  }
  
  .ham-icon::before,
  .ham-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }
  
  .ham-icon::before {
    top: -0.8rem;
  }
  .ham-icon::after {
    top: 0.8rem;
  }
  
  .ham-button:hover ham-icon:before {
    top: -1rem;
  }
  .ham-button:hover ham-icon::after {
    top: 1rem;
  }
  
  .checkbox:checked + .ham-button .ham-icon {
    background-color: transparent;
  }
  
  .checkbox:checked + .ham-button .ham-icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  .checkbox:checked + .ham-button .ham-icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
  
